<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/" xmlns="http://www.w3.org/1999/html">
<head th:replace="fragments :: head"></head>

<body>
    <h1 th:text="${title}">Default Title</h1>
    <nav th:replace="fragments :: navigation"></nav>


    <form method="post">
        <!--leaving off the action attribute tells the form to submit to the same page-->
        <p>
            <label for="cheeseName" class="floatLabel">Cheese Name</label>
                <input id="cheeseName" type="text" name="cheeseName"> </input>
        </p>
        <p>
            <label for="cheeseDescription" class="floatLabel">Cheese Description</label>
                <input id="cheeseDescription" type="text" name="cheeseDescription"> </input>
       </p>
        <p>
            <input type="submit" value="Add Cheese"> </input>

        </p>
        
    </form>

</body>
</html>