<!--In your base.html template, you have some navigation links that link to the main blog page and to the add new blog page.-->
<!--
<!doctype html>
<html>
    <head>
        <title>{{title}}</title>
    </head>
<body>

    {% block content %}
    {% endblock %}

</body>
</html>-->


<!doctype html>
<html>
    <head>
        <title>{{title}}</title>
        <style>
            .error{
                color: red;

            }
            </style>
    </head>
    <body>
        <div>
            <a href="/blog">Main Page</a>
            <a href='/newpost'>New Post</a>

        </div>

        {% with messages = get_flashed_messages(with_categories=True) %}
            <ul>
            {% for category, message in messages %}
                <li class="{{category}}">{{message}}</li>            
            {% endfor %}
            </ul>
        {% endwith %}

        {% block content %}
        {% endblock %}

    </body>
</html>