{% extends "base.html" %}

{% block content %}
        <h1>Build a Blog!</h1>
        <form action="/blog" method="POST" >
            <label>
                Blog Title:
                <input type="text" name="title" />
            </label>
            <textarea placeholder="Tell me about your day!" name="post">{{blog}}</textarea>

            <input type="submit" value="Post it" />
        </form>


     <hr />
      <h2>Posts</h2>
        <h3>{{title}}</h3>
        <p>{{post}}</p>
        
{% endblock %}
